<h1>HOW TO CHANGE YOUR SCREEN NAME</h1>
  <p>1: Go to the steam app 2: find the current name next to Community in the top bar 3: click and find the profile menu 4: find the edit profile button and go to town.  </p>
<h1>AVAILABLE LOGINS</h1>
  <ul>
    <% @logins.each do |login| %>
      <% if login.available %>
        <li  class="available"  >
          username: <%= login.name %> -> password: <%= login.pass %>
          <br>
          <%= button_to("Take login", login, method: :get) %>
        </li>
      <% else %>
        <li  class="taken"  >
          username: <%= login.name %> -> password: <%= login.pass %>
          <br>
          <%= button_to("I have logged out", login, method: :put) %>
        </li>      
      <% end %>
    <% end %>
  </ul>